<div id="mainContainerDiv" data-options="dxView : { name: 'create_user', title: 'I\'m a New Nomsterz...'} " >
	<div id="createUserDiv">

		<div class="contentPortrait">
			<div id="businessButtonContainerPortrait" data-bind="dxButton: { clickAction: setUserTypeBusiness, text: 'Business', iconSrc: '../../../img/button-images/shop-512.png' }"></div>
			<div id="customerButtonContainerPortrait" data-bind="dxButton: { clickAction: setUserTypeCustomer, text: 'Customer', icon: 'arrowdown' }"></div>
		</div>

		<div class="contentLandscape">
			<div id="businessButtonContainerLandscape" data-bind="dxButton: { clickAction: setUserTypeBusiness, text: 'BusinessLandscape', iconSrc: '../../../img/button-images/shop-512.png' }"></div>
			<div id="customerButtonContainerLandscape" data-bind="dxButton: { clickAction: setUserTypeCustomer, text: 'CustomerLandscape', icon: 'arrowdown' }"></div>
		</div>

	</div>
</div>